.title {
    font-size: 3rem;
    margin: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.content {
    padding: 20px;
	flex: 1;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
}

.subtitle {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 1.2rem;
}

.contact-info-email,
.contact-info-instagram {
    margin: 10px 0;
}

.link {
    color: #3f2a14;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
@media (max-width: 991px){
    .subtitle{
		font-size:8rem;
	}
	.description, .info{
		font-size: 4rem;
	}
}