.front-holder {
	margin-top: 2rem;
}
.front-page {
	background: none;
	position: relative;
	overflow: hidden;
	min-height: 70vh;
	width: 90%;
	border-radius:50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}
/* Layered hero background uses ::before, ::after, and a `.bg-third` child. */
.front-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/left.avif");
  background-size: contain;
  background-position: left;
  clip-path: polygon(0 0, 40% 0, 20% 100%, 0 100%);
  z-index: -1;
}

.front-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/middle.avif");
  background-size: contain;
  background-position: center;
  clip-path: polygon(40% 0, 80% 0, 60% 100%, 20% 100%);
  z-index: -1;
}

.bg-third {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/right.avif");
  background-size: contain;
  background-position: right;
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
  z-index: -1;
}

.rhombus {
	display: inline-block;
	background: linear-gradient(90deg,#A00000,#700000); /* Accent gradient for the hero badge */
	clip-path: polygon(7% 10%, 97% 10%, 92% 100%, 2% 100%); /* Rhombus shape */
        color:#fffdfd;
	padding: 20px 60px;
	z-index: 1;
}
.mobile-button {
	display: none !important;
}
.desktop-button {
	display: inline-block !important;
}

[class*="button-"]{
	margin-right: 3rem;
}

.image-caption{
	text-align: center;
	padding-right: 5rem;
	margin: 0 4rem;
}
@media (max-width: 991px) {
	.rhombus {
		display: none;
	}
	.mobile-button {
		display: inline-block !important;
	}
	.desktop-button {
		display: none !important;
	}
	.front-page{
		width: 100%;
		height: 100%;
		min-height: 50vh;
		border-radius: 50px;
	}
	.front-page::before, .front-page::after, .bg-third {
		background-size: cover;
	}
    .front-holder {
		margin: 5vh 5vw;
	}
    .image-caption{
		margin: 2rem 0.5rem 0 0.5rem;
		padding: 0;
	}
}
